[book]
title = "nix-book"
authors = ["saylesss88"]
language = "en"
src = "src"

[build]
build-dir = "book"

[preprocessor.rss-feed]
renderers = ["html"]
full-preview = true
atom = true
json-feed = true
paginated = false    # enable pagination
max-items = 0        # max items per page (0 = unlimited / single feed)

[preprocessor.frontmatter-strip]
renderers = ["html"]

[preprocessor.toc]
command = "mdbook-toc"
renderers = ["html"]

[output.html]
default-theme = "navy"
preferred-dark-theme = "navy"
site-url = "https://saylesss88.github.io/"
additional-css = [
	"theme/extra.css",
	"theme/rss-button.css",
	"theme/css/kanagawa-code.css",
	# "theme/css/tokyo-night-code.css",
	# "theme/css/dracula-code.css",
	# "theme/css/catppuccin-mocha-code.css",
]
additional-js = ["theme/extra.js", "theme/rss-button.js", "theme/nix_http.js"]
git-repository-url = "https://github.com/saylesss88/nix-book.git"
git-repository-icon = "fab-github"
no-section-label = true

[output.html.code]
hidelines = {nix = "~"}

[preprocessor.content-collections]
renderers = ["html"]
#[output.html.print]
# enable = true

[preprocessor.content-loader]
command = "mdbook-content-loader"
renderers = ["html"]
after = ["content-collections"]
inject_all = true

[preprocessor.kanagawa-theme]
renderers = ["html"]
before = ["content-loader", "content-collections"]
# Landing page text
landing_title = "nix-book"
landing_subtitle = "Notes, posts, and more"

# Column headers
header_latest = "Latest posts"
header_notes = "Recent notes"
header_tags = "Popular tags"

# css_import = "/assets/dracula.css"
# css_import = "/assets/tokyo-night.css"
# css_import = "/assets/catppuccin-mocha.css"
disable_builtin_css = false
card_layout = "wide"        #"compact"
support_footer = true

[preprocessor.nix-repl]
# command = "mdbook-nix-repl"
