/* theme/css/tokyo-night-code.css */
.hljs-keyword  { color: #bb9af7 !important; }
.hljs-string   { color: #9ece6a !important; }
.hljs-number   { color: #ff9e64 !important; }
.hljs-comment  { color: #565f89 !important; font-style: italic !important; }
